ffmpeg == 1.4
requests == 2.31.0
gradio == 3.39.0
librosa == 0.10.1
sox == 1.4.1
yt-dlp == 2023.11.16
pedalboard == 0.8.7
torch == 2.1.2
ffmpeg-python == 0.2.0
tqdm == 4.66.1
swig == 4.1.1.post1
fairseq == 0.12.2
faiss-cpu == 1.7.0
scipy == 1.11.4
picklescan == 0.0.13
spleeter == 2.4.0
protobuf == 3.19
# https://github.com/microsoft/onnxruntime/issues/18850
onnxruntime-gpu==1.17.0 --index-url=https://pkgs.dev.azure.com/onnxruntime/onnxruntime/_packaging/onnxruntime-cuda-12/pypi/simple